header {
    position: relative;
    height: 100vh;
    overflow: hidden; 
}


section h2 {
    margin-bottom: 30px;
}

footer {
    background-color: #f8f9fa;
    color: #6c757d;
}
nav {
    background-color: #f2f2f2;
    width: 100%;
    height: 70px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-nav .nav-link{
    font-family: Jost;
    font-size: 16px;
    font-weight: 500;
    line-height: 23.12px;
    text-align: left;
  }
  .navbar-light .navbar-nav .nav-link{
    color: #111111;
  }
  .navbar .navbar-nav .nav-link {
    padding: 0px
}

.navbar-toggler {
  border: none; /* Xóa border nếu có */
  background: none; /* Xóa background nếu có */
}
  .navbar-collapse {
    display: flex !important;
    flex-grow: 1; 
    justify-content: center;
}
.nav-item{
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.icon-link {
  padding-left: 5px;
}

  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .menu {
    list-style: none;
    display: flex;
  }
  
  .menu li {
    margin: 0 10px;
  }
  
  .menu a {
    text-decoration: none;
    color: #333;
  }
  

.icons img {
    margin-right: 15px; 
    cursor: pointer;
}


.icons img:last-child {
    margin-right: 0;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  background: no-repeat;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination {
  bottom: 60px !important; 
}


.swiper-button-next,
.swiper-button-prev {
  background-color: #EBEBEB; 
  color: #000; 
  
  border-radius: 50%; 
  width: 60px !important;
  height: 60px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 21px !important;
  color: #111111 ;
}

.swiper-button-next:active,
.swiper-button-prev:active {
  background-color: #000; 
  color: #fff; 
}
.container{
    max-width: 1410px;
    margin-top:40px
}
.img-fluid {
width: 330px;
height: 440px;
border-radius: 10px;
}

.clothing-img {
    position: relative;
    background-color: #ECEDEF;
    border-radius: 12px;
    width: 450px;
    height: 730px;
}

.sunglasses-img, .bags-img {
    position: relative;
    border-radius: 12px;
    Width: 450px;
    Height: 350px;
}

.sneaker-img {
    border-radius: 12px;
    position: relative;
    width: 450px;
    height: 730px;
}

.row > .col-md-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row > .col-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.px-3 {
    padding-left: 15px;
    padding-right: 15px;
}

.custom-mb-30 {
    margin-bottom: 30px;
}

.wrap-title-fashion {
position: absolute;
Top: 650px;
width: 160px;
height: 50px;
background-color: #FFFFFF;
padding: 10px;
border-radius: 30px ;
}

.wrap-title-fashion-small {
    position: absolute;
    Top: 270px;
    width: 160px;
    height: 50px;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 30px ;
    }
    

.title-fashion {
font-family: Jost;
font-size: 16px;
font-weight:500;
line-height: 23.12px;
text-align: center;
}


.carousel-item {
  height: 100vh; 
  position: relative; 
}

#headerCarousel {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 30px - 30px);
  height: 100%;
  z-index: 20; 
  display: flex;
  align-items: center; 
  justify-content: center;
}

header .carousel-caption {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  color: #111111;
  Top: 251px;
  Left: 353px;
  width:  437px;
  height:  308px;
  z-index: 999;
}


.carousel-caption > h1 {
  font-family: Jost;
font-size: 80px;
font-weight: 400;
line-height: 80px;
text-align: center;
color: #111111;
}

.carousel-caption > p {
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.12px;
  text-align: center;
 color: #111111;
}

.btn-dark {
display: flex;
  align-items: center;
  justify-content: center;
  margin: auto; 
width:  200px;
height:  55px;
padding: 10px;
border-radius: 30px ;
font-family: Jost;
font-size: 12px;
font-weight: 600;
line-height: 17.34px;
}


.section-title {
font-family: Jost;
font-size: 45px;
font-weight: 400;
line-height: 65.03px;
text-align: center;
margin: 0;

}
p.section-sub-title {
  font-family: Jost;
font-size: 16px;
font-weight: 400;
line-height: 23.12px;
text-align: center;
margin: 0 0 30px 0;
}




.wrap-image-fashion {
  position: relative;
  width:  330px;
height:  558px;
}

.description-fashion {
  padding-top: 16px;
}

 .product-name {
  color: #111111;
  margin-bottom: 8px;
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.12px;
  text-align: left;
}

.product-rating {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.product-colors {
  display: flex;
  gap: 10px;
}



.circle {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ddd; /* Border màu cho vòng tròn lớn */
  overflow: hidden; /* Đảm bảo vòng trong không tràn ra ngoài */
}

.circle::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: 50%;
  background-color: transparent; 
}

.red::before {
  background-color: #B22222; 
}

.border-dark {
  border-color: #111111; 
}

.beige::before {
  background-color:#DFD3C2 ; 
}

.deep-green::before {
  background-color: #08382C;
}

.dark-brown::before {
  background-color: #492919;
}

.light-gray::before {
  background-color: #D6D6D6;
}

.pale-blue::before {
  background-color: #C2CADF;
}

.Gainsboro::before {
  background-color: #EEEEEE;
}
.red-brown::before {
  background-color: #A93A3A;
}
.gunmetal::before {
  background-color: #272D43;
}


.product-price {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.current-price {
  font-family: Jost;
  color: #D73F0F;
  font-size: 14px;
  font-weight:500;
  line-height: 20.23px;
  text-align: left;
}

.original-price {
  font-family: Jost;
font-size: 16px;
font-weight: 400;
line-height: 23.12px;
text-align: left;
}
.old-price {
  text-decoration: line-through;
  font-family: Jost;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.23px;
  text-align: left;
  padding-left: 8px;
}

.sold-out-label {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto; 
  background-color: #757575; 
  color: #fff;
  width: 70px;
  height: 25px;
  top: 15px;
  left: 30px;
  padding:  10px;
  border-radius: 30px;
  font-family: Jost;
  font-size: 13px;
  font-weight: 400;
  line-height: 18.79px;
  
}

.discount-label {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto; 
  background-color: #D73F0F; 
  color: #fff;
  width: 50px;
  height: 25px;
  top: 15px;
  left: 30px;
  padding:  10px;
  border-radius: 30px;
  font-family: Jost;
font-size: 13px;
font-weight: 400;
line-height: 18.79px;


}

.pre-order-label {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto; 
  background-color: #177983; 
  color: #fff;
  width: 75px;
  height: 25px;
  top: 41px;
  left: 30px;
  padding:10px;
  border-radius: 30px;
  font-family: Jost;
  font-size: 13px;
  font-weight: 400;
  line-height: 18.79px;

}

/* footer*/
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px; 
  
  box-sizing: border-box; 
}

.footer-item {

  padding-top: 70px;
}


.logo {
  max-width: 340px;
}

.categories, .customer-service {
  max-width: 200px;
}

.newsletter {
  max-width: 450px;
}

/* Style cho các phần tử bên trong */
.logo-image, .logo-description, .social-media, .column, .footer-bottom {
  margin-bottom: 20px;
}

form {
  display: flex;
  align-items: center;
}

form input[type="email"] {
  flex: 1; 
  max-width: 290px;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 30px ; 
}

form button[type="submit"] {
  padding: 10px 20px;
  max-width: 150px;
  height: 50px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius:  30px ; 
  cursor: pointer;
  font-family: Jost;
font-size: 12px;
font-weight: 600;
line-height: 17.34px;
text-align: center;

}

form input[type="email"]::placeholder {
  font-family: Jost;
font-size: 14px;
font-weight: 400;
line-height: 20.23px;
text-align: left;
color: #999999;
}

form button[type="submit"]:hover {
  background-color: #555; 
}

form button {
  margin-left: 8px;
}
.footer-bottom {
  display: flex;
  height: 62px;
  justify-content: space-between; 
  align-items: center; 
  padding: 50px 0 30px 0; 
  border-top: 1px solid #ddd; 
}

.payment-methods img {
  width: 43px;
  height: 26px;
  margin-right: 10px;
}

.logo-description {
  font-family: Jost;
font-size: 16px;
font-weight: 400;
line-height: 23.12px;
text-align: left;
color: #555555;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li,
.sign-up-to-newsletter-description
 {
  font-family: Jost; 
  font-size: 16px; 
  font-weight: 400; 
  line-height: 23.12px; 
  text-align: left; 
  margin-bottom: 8px; 
  color: #555555; 
}

.hot-categories-title, 
.customer-service-title,
.sign-up-to-newsletter-title {
  font-family: Jost;
font-size: 14px;
font-weight: 600;
line-height: 20.23px;
text-align: left;
color: #111111;
}


.language a{
font-family: Jost;
text-decoration: none;
font-size: 16px;
font-weight: 400;
line-height: 23.12px;
color: #555555;
}

.footer {
  list-style: none;
  flex-direction: row;
  display: flex;
}

.footer-link, 
.copyright {
font-family: Jost;
font-size: 16px;
font-weight: 400;
line-height: 23.12px;
text-align: left;
color: #555555;
}
/* Responsive */


@media (max-width: 992px) {
  .navbar-brand {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
    display: flex; 
    align-items: center; 
  }
  
  .navbar-nav {
    display: none;
  }
  .navbar{
    display: flex;
    justify-content: space-between;
  }
 
  

  .navbar {
    flex-wrap: nowrap;
  }
 .icon-hidden {
    display: none;
  }
  .icons {
    display: flex;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

.swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }



    header .carousel-caption {
      width:  239px;
      height:  203px;
      top: 46px;
      left: 21px;
      opacity: 0px;
      text-align: left;
      
    }
    
    .carousel-caption > h1 {
      font-family: Jost;
      font-size: 40px;
      font-weight: 400;
      line-height: 45px;
      text-align: left;
    }

    .carousel-caption > p {
      font-family: Jost;
      font-size: 16px;
      font-weight: 400;
      line-height: 23.12px;
      
}

.btn-dark {
  margin-left: 0;
}

.swiper-pagination {
  top: 36vh !important; 
}
}